<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Figment</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=PT+Mono" rel="stylesheet">
  <link rel="stylesheet" href="css/styles.css" media="screen" title="no title">
  <script src="https://code.jquery.com/jquery.js"></script>
</head>

<body class="mainbody">

  {{{ body }}}

</body>

</html>