<div class="navbar-fixed">
  <nav class="transparent z-depth-0">
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="left hide-on-small-and-down">
        <li>
          <a href="/choice" id="btn-home-view" class="transparent btn-small">Home</a>
        </li>
        <li>
          <a href="/logout" id="logoutBtn" class="transparent btn-small">Log Out</a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<form id="storyForm" data-userid="{{user.id}}">
  <div class="row">
    <h1 class="center homeText">Figment.Observer</h1>
  </div>
</div>