<body class="front-page page-index">
  <div class="main-wrap">
    {{> figment/navbar}}
    <div class="container">
      <div class="row">
        <div id="homeTitle" class="container center">
          <h1 id="textScroll" class="center homeText"></h1>
          <section>
            <img class="bgImage" src="/images/bg-09.png" alt="Figment Background">
            <div>
              <img class="ghost animated fadeInUp" src="/images/ghost-02.svg" alt="Horror">
              <img class="ship animated slideInRight" src="/images/Ship-07.svg" alt="Horror">
              <img class="heartsLeft animated infinite pulse" src="/images/Hearts-04.svg" alt="Horror">
              <img class="heartsRight animated infinite pulse" src="/images/Hearts-04.svg" alt="Horror">
              <img class="fire animated" src="/images/Fire-06.svg" alt="Horror">
              <img class="sword animated" src="/images/Sword-03.svg" alt="Horror">
            </div>
          </section>
          <div>
          </div>


        </div>
        <div>
          <h6 class="homeText tagLine center">A character sketch platform for transgressive fiction</h6>
        </div>
      </div>
    </div>
  </div>
  {{> figment/scripts}}
</body>