<div class="container">
  <div class="row">
    <div id="homeTitle" class="container">
      <h1 class="center homeText">Figment.observer</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="container">
      <h6 class="center white-text"></h6>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 story-container">
      <ul class="list-group">
        {{#each story}}
        <li class="list-group-item">
          <p>{{this.id}}.
            <strong>{{this.title}}</strong>
          </p>
          <p>{{this.body}}</p>
        </li>
        {{/each}}
      </ul>
    </div>
  </div>

</div>

<!-- Custom Script -->
<script>
  $(document).ready(function () {
    var txt = 'Figment.observer';
    var speed = 150;

    function typeWriter() {
      for (let i = 0; i < txt.length; i++) {
        $("#homeTitle").innerHTML += txt.charAt(i);
        setTimeout(typeWriter, speed);
      };
    };
    console.log("running.");
    typeWriter();
  })
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.0/moment.min.js" type="text/javascript"></script>
