<body class="front-page page-index">
  <div class="main-wrap">
    {{> figment/navbar}}
    <div class="container">
      <div class="row">
        <div id="homeTitle" class="container center">
          <h1 id="textScroll" class="center homeText"></h1>
          <img src="/images/bg-09.png" alt="Figment Background" style="width: 85%;">
          <p class="homeText">A character sketch platform for transgressive fiction</p>
        </div>
      </div>
    </div>
  </div>
  {{> figment/scripts}}
  
</body>