<div class="container">
    <div class="row">
        <div class="container">
            <h1 class="center homeText">Figment.Observer</h1>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="white-text center box">
                <h5 class="homeText" > Sort By:</h5>
            </div>
        </div>
    </div>
<div  class="center" id="menu">
  <a class="btn waves-effect btn-large transparent" id="genre">Genre</a>
  <a class="btn waves-effect btn-large transparent" id="alphabet">Alphabetical</a>
  <a class="btn waves-effect btn-large transparent" id="recent">Most Recent</a>
</div>
<ul id="genres">
  <li id="all">All</li>
  <li id="humor">Humor</li>
  <li id="mystery">Mystery</li>
  <li id="romance">Romance</li>
  <li id="scifi">Sci-Fi</li>
</ul>
<button id="close">Close</button>
<div class="container story">
  <div class="row"></div>
  <div class="row">
    <div class="col-md-12 story-container">
      <ul class="list-group">
        {{#each story}}
        
        <li class="list-group-item">
          <p class="title">{{this.title}}</p>
          <p class="description">{{this.body}}</p>
          <p class="description">{{this.description}}</p>
          <p class="type">{{this.genre}}</p>
        </li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>
<div id="comment">
  <input id="commentA" type="text">
  <button id="commentB">Submit Comment</button>
</div>
</div>
<!-- Custom Script 
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.0/moment.min.js" type="text/javascript"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- <script src="../public/js/story-index.js" type="text/javascript"></script> -->
<script>


  $("#genre").on("click", genre);
  $(".title").on("click", readersChoice);
  $("#humor").on("click", humor);
  $("#mystery").on("click", mystery);
  $("#romance").on("click", romance);
  $("#scifi").on("click", scifi);
  $("#close").on("click", close);
  $("#all").on("click", all);
  $("#commentB").on("click", comment);
  $("#alphabet").on("click", alphabet);
  $("#recent").on("click", mostrecent);
  

function alphabet() {


  

  $("#genres").css("display", "none");
  
sortListDir()

  
}


function mostrecent() {
  $("#genres").css("display", "none");
}

function comment() {
  let commentData = {
   reader: "Ya boy",
   feedback: $("#commentA").val().trim()
   
  };

  $("#comment").css("display", "none");
  $.post("/api/comments", commentData)
      .then(alert("Comment Submitted"));
}

function all() {
  $('.humor' , '.mystery', '.romance', '.sci-fi').css("display", "block");
}

  function genre() {
    $("#genres").css("display", "block");
  }

function classify(x) {
  for (i = 0; i < $(".type").length; i++) {
    if ($(".type")[i].innerHTML == x) {

$(".type")[i].parentElement.classList.add(x);
    }
      
  }
}  

function readersChoice() {
  $(this).next('.body').css("display", "block");
  $('.type').css("display", "none");
  $('#close', '#comment').css("display", "block");
}
function humor() {
  $(".humor").css("display", "block");
  $(".mystery").css("display", "none");
  $(".romance").css("display", "none");
  $(".sci-fi").css("display", "none");
}

function mystery() {
  $(".mystery").css("display", "block");
  $('.humor', '.romance', '.sci-fi').css("display", "none");
}

function romance() {
  $(".romance").css("display", "block");
  $('.mystery', '.humor', '.sci-fi').css("display", "none");
}

function scifi() {
  $(".sci-fi").css("display", "block");
  $('.mystery', '.humor', '.romance').css("display", "none");
  
}

function close() {
  $("#close").css("display", "none");
  $(".type").css("display", "block");
  $(".body").css("display", "none");
  $("#comment").css("display", "none");
}


classify("humor");
classify("mystery");
classify("romance");
classify("sci-fi");

function sortListDir() {
  var list, i, switching, b, shouldSwitch, dir, switchcount = 0;
  list = document.getElementsByClassName("list-group");
  switching = true;
  dir = "asc"; 
  while (switching) {
    switching = false;
    b = document.getElementsByClassName("list-group-item");
    for (i = 0; i < (b.length - 1); i++) {
      shouldSwitch = false;
      
      if (dir == "asc") {
        if (b[i].innerHTML.toLowerCase() > b[i + 1].innerHTML.toLowerCase()) {
        
          shouldSwitch = true;
          break;
        }
      } else if (dir == "desc") {
        if (b[i].innerHTML.toLowerCase() < b[i + 1].innerHTML.toLowerCase()) {
          
          shouldSwitch= true;
          break;
        }
      }
    }
    if (shouldSwitch) {
    
      b[i].parentNode.insertBefore(b[i + 1], b[i]);
      switching = true;
      switchcount ++;
    } else {
     
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}







</script>