<form id="storyForm" data-userid="{{user.id}}">
  <div class="row">
    <h1 class="center homeText">Figment.Observer</h1>
  </div>
  </div>

  <div class="container">
    <div class="card transparent hoverable center">
      <span class="card-text homeText">This is your moment, {{user.firstname}}.</span>
      <form id="storyForm" data-userId="{{user.id}}">
        <div class="row">
          <div class="input-field col s12">
            <input id="storyTitle" type="text" class="validate amber-text text-lighten-5">
            <label class="active amber-text text-lighten-5 homeText" for="story-title">Story Title</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="storyDescription" type="text" class="validate amber-text text-lighten-5" data-length="240">
            <label class="active amber-text text-lighten-5 homeText" for="story-title">Description</label>
          </div>
        </div>
        <div class="row">
          <div id="storyGenre" class="input-field col s12">
            <ul id="genreChoices">
              <li class="storyTypes">Humor</li>
              <li class="storyTypes">Mystery</li>
              <li class="storyTypes">Romance</li>
              <li class="storyTypes">Sci-Fi</li>
              
            </ul>
            <label class="active amber-text text-lighten-5 homeText" for="story-title" id="genreLabel">Genre</label>
            <p id="genrePick"></p>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <textarea id="storyBody" class="materialize-textarea amber-text text-lighten-5"></textarea>
            <label for="storyBody" class="amber-text text-lighten-5 homeText">The Story</label>
          </div>
        </div>
        <div class="row">
          <div class="center">
            <input id="submit" type="submit" value="Submit" class="btn-small waves-effect white">
          </div>
        </div>
        <br>
      </form>
    </div>
  </div>




  <!-- Custom Script -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/js/write.js" type="text/javascript"></script>
  <script>
    $("#genreLabel").on("click", show);
    $(".storyTypes").on("click", hide);
    
   function show() {
     $("#genreChoices").css("display", "block");
   }

   function hide() {
      $("#genreChoices").css("display", "none");
      $("#genrePick").html(this);

   }
    
  </script> 