<div class="navbar-fixed">
  <nav class="transparent z-depth-0">
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="left hide-on-small-and-down">
        <li>
          <a href="/choice" id="btn-home-view" class="transparent btn-small">Home</a>
        </li>
        <li>
          <a href="/logout" id="logoutBtn" class="transparent btn-small">Log Out</a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<form id="storyForm" data-userid="{{user.id}}">
  <div class="row">
    <h1 class="center homeText">Figment.Observer</h1>
  </div>
</div>

<div class="container">
  <div class="card transparent hoverable center">
    <span class="card-text homeText">Hello {{user.firstname}} {{user.lastname}}</span>
    <form id="storyForm" data-userId="{{user.id}}">
      <div class="row">
        <div class="input-field col s12">
          <input id="storyTitle" type="text" class="validate">
          <label class="active white-text" for="story-title">Story Title</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="storyDescription" type="text" class="validate" data-length="240">
          <label class="active white-text" for="story-title">Description</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="storyGenre" type="text" class="validate">
          <label class="active white-text" for="story-title">Genre</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea id="body" class="materialize-textarea"></textarea>
          <label for="storyBody" class="white-text">The Story</label>
          {{!--
          <span class="helper-text homeText white-text" data-error="wrong" data-success="right">Your time to shine.</span> --}}
        </div>
      </div>
      <div class="row">
        <div class="center">
          <input id="submit" type="submit" value="Submit" class="white-text btn-small waves-effect white">
        </div>
      </div>
      <br>
    </form>
  </div>
</div>




<!-- Custom Script -->
<script src="/js/write.js" type="text/javascript"></script>