button.submit {
  float: right;
}

form#cms {
  margin-top: 50px;
}

#cms textarea {
  resize: none;
}

.card-header button.delete,
button.edit {
  float: right;
  margin: 5px;
}

.author-container {
  margin-top: 50px;
}

.author-list {
  margin-top: 25px;
}

.blog-container {
  margin-top: 30px;
}

.blog {
  margin-top: 30px;
}

.hidden {
  display: none;
}

#author-name {
  width: 100%;
  height: 35px;
  margin-top: 5px;
}

.top-30 {
  margin-top: 30px;
}
html, .mainbody {
  background: linear-gradient(#206188 32.65% , #72c4cc 100%);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;

}

h1 {
  font-family: 'PT Mono', monospace;
  font-size: calc(1em + 5vmin);
}

.homeText {
  font-family: 'PT Mono', monospace;
  color: #ffecde;
  size: 50px
}

.nav-wrapper {
  background-color: rgba(0, 0, 0, 0);
}

li a {
  color: #ffecde;
}

.choices {
font-family: 'PT Mono', monospace;
text-align: center;
color: #FFF5EE;
}
.choiceimg  {
  transition:.25s;
  width: 80%;
  max-width: 250px;
}
.choiceimg:hover   {
  margin:-10px 0 0 0;
}
.choice {
text-align: center;
display: table-cell;
vertical-align: middle;
}
.choice:last-child {
  border-right: 0px;
}
.box {
  border: none;
  outline: #ffecde solid  0px ;
  margin: auto;    
  padding: 0px;
  overflow: hidden;
  margin-bottom: 5%;
}
#genres {
  display: none;
}


.vertical_line {
  height:250px; 
  width:1px;
  background:white;
  margin-left: auto ;
  margin-right: auto ;
}
