button.submit {
  float: right;
}

form#cms {
  margin-top: 50px;
}

#cms textarea {
  resize: none;
}

.card-header button.delete,
button.edit {
  float: right;
  margin: 5px;
}

.author-container {
  margin-top: 50px;
}

.author-list {
  margin-top: 25px;
}

.blog-container {
  margin-top: 30px;
}

.blog {
  margin-top: 30px;
}

.hidden {
  display: none;
}

#author-name {
  width: 100%;
  height: 35px;
  margin-top: 5px;
}

.top-30 {
  margin-top: 30px;
}

.mainbody {
  background-image: linear-gradient(#206188 32.65% , #72c4cc 100%);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  padding-bottom: 200px;

}
  body:before, body:after {
    content: "";
    position: fixed;
    background: #206188;
    left: 0;
    right: 0;
    height: 10px;
}
body:before {
    top: 0;
}
body:after {
    bottom: 0;
}
body {
    border-left: 10px solid #206188;
    border-right: 10px solid #206188;  
}

h1 {
  font-family: 'PT Mono', monospace;
}

.homeText {
  font-family: 'PT Mono', monospace;
  color: #ffecde;
}

.nav-wrapper {
  background-color: rgba(0, 0, 0, 0);
}

li a {
  color: #ffecde;
}

.choices {
font-family: 'PT Mono', monospace;
text-align: center;
color: #FFF5EE;
transition:.25s;

}
.choice {
  border-right: 1px solid white;
}
.choices:hover  {
  margin:-10px 0 0 0;
}
.choices-child:hover ~  {
  background: linear-gradient(orange 32.65% , yellow 100%);
  background-size: cover;
  height: 100%;
}
.box {
  border: none;
  outline: #ffecde solid  0px ;
  margin: auto;    
  padding: 0px;
  overflow: hidden;
  margin-bottom: 5%;
}

.body {
  display: none;
}

#genres {
  display: none;
}

#close {
  display: none;
}