<div class="navbar-fixed">
  <nav class="main-nav-bar z-depth-0">
    <a href="#" data-target="mobile-demo" class="sidenav-trigger">
      <i class="material-icons">menu</i>
    </a>
    <ul id="nav-mobile" class="menulinks left hide-on-med-and-down">
      <li>
        <a href="/choice" id="btn-home-view" class="light-blue darken-3 btn-small">Home</a>
      </li>
    </ul>
  </nav>
</div>
<ul class="sidenav mobilelinks" id="mobile-demo">
  <li>
    <a href="/choice" id="btn-home-view" class="">Home</a>
  </li>
</ul>